[user]
	email = superhawk610@gmail.com
	name = Aaron Ross

[core]
	editor = nvim
	# to install: `npm install -g git-split-diffs`
	pager = git-split-diffs --color | less -RFX
	excludesFile = /Users/a80323765/.gitignore

[push]
	default = simple

[delta]
	line-numbers = true
	side-by-side = true

[pull]
	ff = only
	rebase = false

[init]
	defaultBranch = main
