[user]
	email = superhawk610@gmail.com
	name = Aaron Ross

[core]
	editor = nvim
	pager = delta

[push]
	default = simple

[delta]
	line-numbers = true
	side-by-side = true

[pull]
	ff = only
	rebase = false
